.blog-header {
  text-align: center
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  padding-top: 10px
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons img{
  display: inline;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

//////////////////////////
// Posts

.post {
  // margin-bottom: 4em;

  // note: only change margin for title,date if inside post block
  .feed-title {
    margin-top: 0;
    font-size: 2em;
    a {
      color: $post-title-color;
    }
  }

  .post-meta {
    display: flex;
    flex-direction: row;
  }

  // Meta data line below post title
  .post-date {
    color: $post-date-color;
    margin-left: auto;
    flex-shrink: 0;
  }

  .post-tags {
    align-self: flex-start;
  }
}

a.post-title-link:hover {
    color: #777;
    text-decoration: none;
}

.post-read-more {
    color: #777;
    text-decoration: none;
    font-size: 20px;
}

.post-read-more:hover {
    color: #000;
    text-decoration: none;
}

.post-meta *{
  color: #9a9a9a;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 14px;
}

.post-meta a:hover {
  color: #333;
  text-decoration: none;
}

@media (min-width:500px) {
  header .jumbotron {
    height: 300px;
    margin-top: -20px;
    background-size: contain;
    webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
  }
}

@media (max-width:500px) {
  header .jumbotron {
    display: none;
  }
}

.blog-img {
  margin: 0 auto;
}

figcaption {
  color: #7a7a7a;
  font-weight: bold;
  font-size: 0.75rem;
  text-align: center;
  padding-top: 0.25rem;
}

figure {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pagination-container {
  margin-top: 2rem;
}

:target:before {
  content: "";
  display: block;
  height: 60px;
  margin-top: -60px;
}
