.blog-header {
  text-align: center
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  padding-top: 10px
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons img{
  display: inline;
}

.center-image
{
    margin: 0 auto;
    display: block;
}