---
title: Projects
layout: default
permalink: /projects
description: Benjamin Congdon's Projects
tags:
  - Web
  - Desktop
  - Mobile
  - Academic
  - Misc
contributions:
  - name: Helium
    url: https://github.com/JadenGeller/Helium/commits/master?author=bcongdon
  - name: matplotlib
    url: https://github.com/matplotlib/matplotlib/commits/master?author=bcongdon
  - name: Youtube-dl
    url: https://github.com/rg3/youtube-dl/commits/master?author=bcongdon
projects:
  # Desktop
  - name: TubeSync
    desc: OSX menubar app for syncing Youtube Playlists to desktop for offline viewing
    tag: Desktop
    time: Winter 2015
    url: https://github.com/bcongdon/TubeSync
  - name: Adept
    desc: Python 'Infinitely Extensible' RPG game platform created for CS196
    tag: Desktop
    time: Fall 2015
    url: https://github.com/Adept196/adept/tree/develop
  - name: "\"It's just Pong\""
    desc: A tiny Pong clone for Mini Ludum Dare 58
    tag: Desktop
    time: Spring 2015
    url: http://ludumdare.com/compo/minild-58/?action=preview&uid=36045
  - name: Autism Lifestyle Tracker
    desc: Java-based toolset for caretakers of children with Autism to track important data about care and behavior.
    tag: Desktop
    time: Spring 2015
  - name: Ludum Dare 29
    desc: Wrote a simple "endless runner"-esque game  in 48 hours based on a dictated theme.
    tag: Desktop
    time: Spring 2014
    url: http://ludumdare.com/compo/ludum-dare-29/?action=preview&uid=36045

  # Web
  - name: AnyoneHere
    desc: See who's home with a simple Flask API using your phone as a personal beacon.
    tag: Web
    url: https://github.com/bcongdon/AnyoneHere
    time: Fall 2016
  - name: GDQStat.us
    desc: Dynamic, explorable data visualizations for a week long charity livestream.
    tag: Web
    time: Summer 2016
    url: http://gdqstat.us
  - name: TipOfTheHats Donation Tracker
    desc: Added user SteamID association to a Django-based charity donation tracker.
    tag: Web
    time: Summer 2016
    url: https://github.com/TipoftheHats/donation-tracker/commits/master?author=bcongdon
  - name: Github-Label-Notify
    desc: Node.js module that allows users to be notified about new issues with specific label.
    tag: Web
    time: Spring 2016
    url: https://github.com/bcongdon/github-label-notify
  - name: Wunderschedule
    desc: Enhanced Wunderlist task scheduling for power users
    tag: Web
    time: Spring 2016
    url: https://github.com/bcongdon/WunderSchedule
  - name: CUMTD Bus Tracker
    desc: Visualization of real-time location data for the Champaign-Urbana Bus System.
    tag: Web
    time: Spring 2016
    url: https://github.com/bcongdon/CUMTD-Bus-Visualizer
  - name: Political Heatmap
    desc: Visualization of Twitter sentiment for current US Presidential Candidates by state. (SIGIR)
    tag: Web
    time: Fall 2015
    url: https://github.com/bcongdon/PoliticalHeatMap-SIGIR

  # Mobile
  - name: Wandr
    desc: Geofencing iOS app for dementia patients and their caretakers. (Won 3rd place at HuskieHacks 2015)
    tag: Mobile
    time: Fall 2015
    url: https://github.com/bcongdon/Wandr-HuskieHacks

  # Academic
  - name: CS196 Course Assistant
    desc: Functioned as a Product Manager of a small group of students for their semester long project.
    tag: Academic
    time: 2016 - present
  - name: Bitcoin Research & Extended Essay
    desc: Researched the viability of Subversive Mining Attacks on the Bitcoin network.
    tag: Academic
    time: 2014 - 2015
    url: assets/SubversiveMiningAttacksEE.pdf

  # Misc
  - name: pyvethirtyeight
    desc: Python wrapper for Fivethirtyeight's Election Forecasts
    time: Fall 2016
    url: https://github.com/bcongdon/pyvethirtyeight
    tag: Misc
  - name: dashing-wunderlist-stats
    desc: Wunderlist Stats widget for your Dashing dashboard
    time: Summer 2016
    url: https://github.com/bcongdon/dashing-wunderlist-stats
    tag: Misc
  - name: python-Emojipedia
    desc: Python wrapper for Emojipedia. Allows for search / data collection on emojis.
    tag: Misc
    time: Spring 2016
    url: https://github.com/bcongdon/python-emojipedia
  - name: CrowdShout
    desc: Toolset for Twitch streamers to parse realtime chat responses
    tag: Misc
    time: Fall 2015
    url: https://github.com/bcongdon/Crowdshout
---



<script src="{{ site.baseurl }}/js/index.js"></script>

<div class="container">
  <!-- Projects -->
  <div class="row">
    <div class="col-md-12 project-header">
      <h2><b>>Projects<</b></h2>
      <h4><a href="#Desktop">Desktop</a> | <a href="#Web">Web</a> | <a href="#Mobile">Mobile</a> | <a href="#Academic">Academic</a> | <a href="#contributions">Contributions</a> | <a href="#misc">Misc</a></h4>
    </div>
  </div>
  <hr>

  {% for tag in page.tags %}
    <div class="row" id="{{ tag }}">
      <div class="col-md-12">
        <h3><b>>{{ tag }}<</b></h3>
        <br>
      </div>
    </div>
    {% assign tag_projects = (page.projects | where:"tag",tag) %}
    {% for p in tag_projects %}
    <div class="row project-title-row">
      <div class="col-md-10 project-title">
        {% if p.url %}
        <a href="{{ p.url }}">{{ p.name }}</a>
        {% else %}
        {{ p.name }}
        {% endif %}
      </div>
      <div class="col-md-2 project-date">
        {{ p.time }}
      </div>
    </div>
    <div class="row project-desc">
      <div class='col-md-1'></div>
      <div class="col-md-11">
        <!-- <ul class="project-bullet"> -->
          <p>{{p.desc }}</p>
        <!-- </ul> -->
      </div>
    </div>
    {% endfor %}
  {% endfor %}

  <!-- #### Contributions #### -->
  <div class="row" id="contributions">
    <div class="col-md-12">
      <h3><b>>Open Source Contributions<</b></h3>
      <br>
    </div>
  </div>

  <div class="row project">
      <div class='col-md-1'></div>
      <div class="col-md-6 project-title">
        <ul class="project-bullet">
          {% for c in page.contributions %}
            <li><a href="{{ c.url }}">{{ c.name }}</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>

</div>
