---
title: Projects
layout: default
permalink: /projects
description: Benjamin Congdon's Projects
tags:
  - Web
  - Desktop
  - Libraries
  - Academic
  - Misc
contributions:
  - name: matplotlib
    url: https://github.com/matplotlib/matplotlib/
    url: https://github.com/rg3/youtube-dl/
  - name: Zappa
    url: https://github.com/Miserlou/Zappa/
  - name: redux-implicit-oauth2
    url: https://github.com/bcongdon/redux-implicit-oauth2
  - name: Helium
    url: https://github.com/JadenGeller/Helium/
  - name: three-x3d-loader
    url: https://github.com/jonaskello/three-x3d-loader

projects:
  # Desktop
  - name: Groot Display
    desc: Refactored the React Electron app that runs the [ACM@UIUC](http://acm.illinois.edu/) office information display to be up-to-date with the current ACM design and infrastructure.
    tag: Desktop
    time: Spring 2017
    url: https://github.com/acm-uiuc/display
  - name: TubeSync
    desc: OSX menubar app for syncing Youtube Playlists to desktop for offline viewing
    tag: Desktop
    time: Winter 2015
    url: https://github.com/bcongdon/TubeSync
  - name: Adept
    desc: Python 'Infinitely Extensible' RPG game platform created for CS196
    tag: Desktop
    time: Fall 2015
    url: https://github.com/Adept196/adept/tree/develop
  - name: "\"It's just Pong\""
    desc: A tiny Pong clone for Mini Ludum Dare 58
    tag: Desktop
    time: Spring 2015
    url: http://ludumdare.com/compo/minild-58/?action=preview&uid=36045
  - name: Autism Lifestyle Tracker
    desc: Java-based toolset for caretakers of children with Autism to track important data about care and behavior.
    tag: Desktop
    time: Spring 2015
  - name: Ludum Dare 29
    desc: Wrote a simple "endless runner"-esque game  in 48 hours based on a dictated theme.
    tag: Desktop
    time: Spring 2014
    url: http://ludumdare.com/compo/ludum-dare-29/?action=preview&uid=36045

  # Web
  - name: GitTrophy
    desc: Create a 3D Printed Model of Your Github Contributions
    tag: Web
    time: Summer 2017
    url: https://github.com/bcongdon/git-trophy
  - name: GDQStat.us
    desc: Dynamic, explorable data visualizations for a week long charity livestream.
    tag: Web
    time: Summer 2016 - present
    url: http://gdqstat.us
  - name: Groot-Credits-Service
    desc: Internal [ACM@UIUC](http://acm.illinois.edu/) service for managing user credits balances, handling user payments, and automating the process of collecting member dues.
    tag: Web
    time: Spring 2017
    url: https://github.com/acm-uiuc/groot-meme-service
  - name: Groot-Meme-Service
    desc: Internal [ACM@UIUC](http://acm.illinois.edu/) service for sharing memes, in a similar vein to Google's "Memegen".
    tag: Web
    time: Spring 2017
    url: https://github.com/acm-uiuc/groot-meme-service
  - name: AnyoneHere
    desc: See who's home with a simple Flask API using your phone as a personal beacon.
    tag: Web
    url: https://github.com/bcongdon/AnyoneHere
    time: Fall 2016
  - name: TipOfTheHats Donation Tracker
    desc: Added user SteamID association to a Django-based charity donation tracker. Used in the [TipOfTheHats](https://tipofthehats.org/) charity livestream.
    tag: Web
    time: Summer 2016
    url: https://github.com/TipoftheHats/donation-tracker/commits/master?author=bcongdon
  - name: Github-Label-Notify
    desc: Node.js module that allows users to be notified about new issues with specific label.
    tag: Web
    time: Spring 2016
    url: https://github.com/bcongdon/github-label-notify
  - name: Wunderschedule
    desc: Enhanced Wunderlist task scheduling for power users
    tag: Web
    time: Spring 2016
    url: https://github.com/bcongdon/WunderSchedule
  - name: CUMTD Bus Tracker
    desc: Visualization of real-time location data for the Champaign-Urbana Bus System.
    tag: Web
    time: Spring 2016
    url: https://github.com/bcongdon/CUMTD-Bus-Visualizer
  - name: Political Heatmap
    desc: Visualization of Twitter sentiment for current US Presidential Candidates by state. (SIGIR)
    tag: Web
    time: Fall 2015
    url: https://github.com/bcongdon/PoliticalHeatMap-SIGIR  

  # Academic
  - name: Research Assistant, National Center for Supercomputing Applications
    desc: Member of the [Illinois Data Science Initiative (iDSI)](http://idsi.illinois.edu/). Research involving Hadoop Cluster Management, Spark, and Cloud Computing.
    tag: Academic
    time: 2017-present
  - name: Course Assistant, CS199 - Applied Cloud Computing
    desc: Writing and facilitating labs for students covering a wide range of cloud computing topics including Hadoop, MapReduce, Spark, and Spark MLib.
    tag: Academic
    time: 2017-present
  - name: Course Assistant, CS196 - Freshman Honors
    desc: Functioned as a Product Manager of a small group of students for their semester long project.
    tag: Academic
    time: 2016
  - name: Bitcoin Research & Extended Essay
    desc: Researched the viability of Subversive Mining Attacks on the Bitcoin network.
    tag: Academic
    time: 2014 - 2015
    url: assets/SubversiveMiningAttacksEE.pdf

  # Libraries
  - name: bpy_lambda
    desc: Python package to facilitate running the [Blender](https://www.blender.org/) bpy module in AWS Lambda
    time: Summer 2017
    url: https://github.com/bcongdon/git_lambda
    tag: Libraries
  - name: git_lambda
    desc: Python package to facilitate running `git` in AWS Lambda
    time: Summer 2017
    url: https://github.com/bcongdon/git_lambda
    tag: Libraries
  - name: github_contributions
    desc: A Python interface for Github's contribution system
    time: Summer 2017
    url: https://github.com/bcongdon/github_contributions
    tag: Libraries
  - name: Travis Build Repeat
    desc: Flexible framework for periodically repeating Travis Builds to avoid stale test results. Very useful for keeping integration tests up-to-date.
    time: Spring 2017
    url: https://github.com/bcongdon/travis-build-repeat
    tag: Libraries
  - name: jupyterhub-sqlauthenticator
    desc: Authenticate Jupyterhub with a MySQL user DB
    time: Fall 2016
    url: https://github.com/bcongdon/jupyterhub-sqlauthenticator
    tag: Libraries
  - name: pyvethirtyeight
    desc: Python wrapper for Fivethirtyeight's Election Forecasts
    time: Fall 2016
    url: https://github.com/bcongdon/pyvethirtyeight
    tag: Libraries
  - name: dashing-wunderlist-stats
    desc: Wunderlist Stats widget for your Dashing dashboard
    time: Summer 2016
    url: https://github.com/bcongdon/dashing-wunderlist-stats
    tag: Libraries
  - name: python-Emojipedia
    desc: Python wrapper for [Emojipedia](http://emojipedia.org/). Allows for search / data collection on emojis.
    tag: Libraries
    time: Spring 2016
    url: https://github.com/bcongdon/python-emojipedia

  # Misc
  - name: git-haiku-bot
    desc: A [Twitter bot](https://twitter.com/GitHaiku) that tweets haikus contructed from Git commit messages
    tag: Misc
    time: Spring 2017
    url: https://github.com/bcongdon/git-haiku-bot
  - name: trek-limerick-bot
    desc: A [Twitter bot](https://twitter.com/TrekLimerickBot) that tweets limericks from Star Trek dialogue
    tag: Misc
    time: Spring 2017
    url: https://github.com/bcongdon/trek-limerick-bot
  - name: Wandr
    desc: Geofencing iOS app for dementia patients and their caretakers. (Won 3rd place at HuskieHacks 2015)
    tag: Misc
    time: Fall 2015
    url: https://github.com/bcongdon/Wandr-HuskieHacks
  - name: CrowdShout
    desc: Toolset for Twitch streamers to parse realtime chat responses
    tag: Misc
    time: Fall 2015
    url: https://github.com/bcongdon/Crowdshout
---



<script src="{{ site.baseurl }}/js/index.js"></script>

<div class="container">
  <!-- Projects -->
  <div class="row">
    <div class="col-md-12 project-header">
      <h2 class="accented"><b>Projects</b></h2>
      <h4><a href="#Desktop">Desktop</a> | <a href="#Web">Web</a> | <a href="#Libraries">Libraries</a> | <a href="#Academic">Academic</a> | <a href="#Contributions">Contributions</a> | <a href="#Misc">Misc</a></h4>
    </div>
  </div>
  <hr>

  {% for tag in page.tags %}
    <div class="row" id="{{ tag }}">
      <div class="col-md-12">
        <h3 class="accented"><b>{{ tag }}</b></h3>
        <br>
      </div>
    </div>
    {% assign tag_projects = page.projects | where:"tag",tag %}
    {% for p in tag_projects %}
    <div class="row project-title-row">
      <div class="col-md-8 project-title">
        {% if p.url %}
        <a href="{{ p.url }}">{{ p.name }}</a>
        {% else %}
        {{ p.name }}
        {% endif %}
      </div>
      <div class="col-md-4 project-date">
        {{ p.time }}
      </div>
    </div>
    <div class="row project-desc">
      <div class='col-md-1'></div>
      <div class="col-md-11">
        <!-- <ul class="project-bullet"> -->
          <p>{{p.desc | markdownify }}</p>
        <!-- </ul> -->
      </div>
    </div>
    {% endfor %}
  {% endfor %}

  <!-- #### Contributions #### -->
  <div class="row" id="Contributions">
    <div class="col-md-12">
      <h3 class="accented"><b>Open Source Contributions</b></h3>
      <br>
    </div>
  </div>

  <div class="row project">
      <div class='col-md-1'></div>
      <div class="col-md-6 project-title">
        <ul class="project-bullet">
          {% for c in page.contributions %}
            <li><a href="{{ c.url }}">{{ c.name }}</a></li>
          {% endfor %}
        </ul>
    </div>
  </div>

</div>
