<ul class="share-buttons">
  <li><a class="sharing-button" href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" title="Share on Facebook" target="_blank"><i class="fa fa-black fa-facebook-official fa-2x"></i></a></li>
  <li><a class="sharing-button" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.twitter_username }}" target="_blank" title="Tweet"><i class="fa fa-black fa-twitter-square fa-2x"></i></a></li>
  <li><a class="sharing-button" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><i class="fa fa-black fa-reddit-square fa-2x"></i></a></li>
  <li><a class="sharing-button" href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" target="_blank" title="Email" data-proofer-ignore><i class="fa fa-black fa-envelope-square fa-2x"></i></a></li>
</ul>