---
layout: default
---

{% include blog_css.html %}
{% if page.image %}
<header>
    <div class='jumbotron' style="background: url({{ page.image }}) {% if page.img_loc %}{{ page.img_loc }}{% else %} center center {% endif %} fixed no-repeat;"></div>
</header>
{% endif %}
<div class="container">
  <article class='post'>
	  <h1 class='post-title'>{{ page.title }}</h1>

	    {{ content }}
      
      {% include post_meta.html %}  
      {% include sharing_buttons.html %}
	</article>
    
    
</div>